<div class="container">
     <div class="card">
          <div class="card-body">
               <h1>Acerca de...</h1>
               <div>
                    <img src="/img/acerca.jpg" class="w-100 h-100 img-thumbnail">
               </div>
               <p class="text-center"><b> Nos puedes encontrar en nuestras redes sociales como Calzado Tlahualil o a nuestros numeros 3531427347 o 3535321658. Somos fabricantes de calzado artesanal 100% vacuno donde nuestra satisfaccion con los clientes es nuestro unica motivacion</b></p>
               <h3>Vision y Mision</h3>
               <img src="/img/mis.png" class="w-100 h-100 img-thumbnail">
               <p class="text-center"><b>Nuestra mision y valores es darle un alcanze global a todos nuestros productos fabricados y originarios de la region. Dar a conocer el trabajo de los sabios artesanos a nivel mundial y ser reconocidos por la bella arte de la fabricacion de todos los estilos conocidos.</b></p>
          </div>
     </div>
</div>