<header id="home-section">
     <div class="dark-overlay">
          <div class="home-inner text-white">
               <div class="container">
                    <div class="row">
                         <div class="col-lg-8">
                              <h1 class="display-4">Calzado <strong>Tlahualil</strong></h1>
                              <!--ITEM-->
                              <div class="d-flex flex-row">
                                   <div class="p-4">
                                        <i class="fas fa-certificate"></i>
                                   </div>
                                   <div class="p-4">
                                        Envios a todo el mundo en tiempo y forma.
                                   </div>
                              </div>
                              <!--ITEM-->
                              <div class="d-flex flex-row">
                                   <div class="p-4">
                                        <i class="fas fa-certificate"></i>
                                   </div>
                                   <div class="p-4">
                                        Calzado artesanal 100% hecho a mano por artesanos michoacanos.
                                   </div>
                              </div>
                              <!--ITEM-->
                              <div class="d-flex flex-row">
                                   <div class="p-4">
                                        <i class="fas fa-certificate"></i>
                                   </div>
                                   <div class="p-4">
                                        Los mejores materiales de cortes vacunos.
                                   </div>
                              </div>
                         </div>
                         <div class="col-lg-4">
                              <div class="card text-center" style="background-color: #c0392b;">
                                   <img src="/img/huar.jpg" class="w-100 img-thumbnail">
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</header>

<section class="info-head-section">
     <div class="container">
          <div class="row">
               <div class="text-center p-5 mx-auto">
                    <h1 class="display-4">Informacion</h1>
                    <p class="lead">Ven y conoce nuestros productos disponibles a su disposicion, todo esta a un click de distancia</p>
                    <form action="/notes" method="GET">
                         <button type="submit"  class="btn btn-outline-secondary">Ver Productos</button>
                    </form>
               </div>
          </div>
     </div>
</section>

<section class="info-section bg-light text-muted py-5" id="info-section">
     <div class="container">
          <div class="row">
               <div class="col-md-6">
                    <img src="/img/huarache.jpeg" class="w-100 h-100 img-thumbnail" alt="Imagen">
               </div>
               <div class="col-md-6">
                    <h3>Deseas empezar a ser distribuidor!?</h3>
                    <p>Es muy simple! Solo necesitas unos cuantos datos que te daremos acontinuacion para que puedas empezar a vender y hacer dinero con nuestros productos</p>
                    <!--ITEM-->
                    <div class="d-flex flex-row">
                         <div class="p-4">
                              <i class="fas fa-certificate"></i>
                         </div>
                         <div class="p-4">
                              Nesecitas realizar minimo pedidos de 12 o mas pares de huaraches para disfrutar de nuestro descuento de mayoreo.
                         </div>
                    </div>
                    <!--ITEM-->
                    <div class="d-flex flex-row">
                         <div class="p-4">
                              <i class="fas fa-certificate"></i>
                         </div>
                         <div class="p-4">
                              Solo necesitas la mitad de todo tu pedido a fabricar. Siendo un ejemplo en un pedido de $12,000 solo necesitariamos $6000 para empezar la produccion del pedido
                         </div>
                    </div>
                    <!--ITEM-->
                    <div class="d-flex flex-row">
                         <div class="p-4">
                              <i class="fas fa-certificate"></i>
                         </div>
                         <div class="p-4">
                              Ya que todo nuestros pedidos son bajo demanda tardamos alradedor de 15 dias habiles para la terminacion de tu pedido, pero si deseas ser distribuidor tendras preferencia en los tiempos de fabricacion.
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>