 <footer class="sticky-bottom">
      <div class="container">
          <div class="row">
               <div class="col-md-12 p-3">
                    <p class="text-center">&copy; Copyright 2019 - Jose Galvez Galvez</p>
               </div>
          </div>
      </div>
</footer>