<div class="col-md-4 mx-auto">
     <div class="card">
          <div class="card-header">
               <h3>Nueva Nota</h3>
          </div>
          <div class="card-body">
               <form action="/notes/new-notes" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                         <input type="text" name="title" class="form-control" placeholder="Titulo" value="{{title}}" autofocus>
                    </div>
                    <div class="form-group">
                         <textarea name="description" class="form-control" placeholder="Descripcion">{{description}}</textarea>
                    </div>
                    <div class="form-group">
                         <input type="number" name="precio" value="{{precio}}" class="form-control" placeholder="precio">
                    </div>
                    <div class="form-group">
                         <div class="input-group">
                              <div class="custom-file">
                                   <input type="file" name="image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon" accept="image/x-png,image/jpg,image/jpeg" required>
                                   <label class="custom-file-label" for="inputGroupFile">Escoge una imagen</label>
                              </div>
                         </div>
                    </div>
                    <div class="form-group">
                         <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                    </div>
               </form>
          </div>
     </div>
</div>